{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BLACK BONE</title>
    <link rel="stylesheet" href="{% static 'mainapp/css/gallery.css' %}"/>
    <link rel="stylesheet" href="{% static 'mainapp/css/main.css' %}"/>
    <link rel="stylesheet" href="{% static 'mainapp/css/address.css' %}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/a6eb112351.js"
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'mainapp/js/app.js' %}" defer></script>
  </head>
  <body>
    <header class="header">
      <div class="header_container">
        <div class="header_img">
          <!-- <div class="header_skull"></div> -->
          <img src="{% static 'mainapp/images/black_bone_logo_skull.png' %}" alt="" />
          <img src="{% static 'mainapp/images/black_bone_sign.svg' %}" alt="" />
        </div>
        <div class="header_appointment">
          <a href="http://google.com">
            <img src="{% static 'mainapp/images/bone_call.svg' %}" class="img_scale" alt="" />
          </a>
        </div>
      </div>
    </header>
    <section id="main_content" class="main_content">
      <div class="pricelist_container">
        <table class="pricelist_table">
          <tbody>
          {% for s in services %}
              {% if s.note %}
                  <tr>
              <td>{{ s.title }} <small>{{ s.note }}</small></td>
              <td>{{ s.price }}</td>
            </tr>
              {% else %}
            <tr>
              <td>{{ s.title }}</td>
              <td>{{ s.price }}</td>
            </tr>
              {% endif %}
          {% endfor %}
          </tbody>
        </table>
        <form align='center' action="" method="post" class="formappointment">
        {% csrf_token %}
          <p> {{ form.name}}</p>
          <p> {{ form.number}}</p>
          <p> {{ form.branch}}</p>
          <div><input type="submit" value='Записаться Онлайн' class="btn pricelist_btn"/></div>
        </form>
        <div align='center'><p>Временно оплата только наличными</p></div>
      </div>
    </section>
    <section class="telegram_section">
      <div class="telegram_container">
        <div class="telegram">
          <img src="{% static 'mainapp/images/beard.png' %}" alt="" />
          <div class="telegram_text">
            <p>
              Подписывайтесь на наш канал в <a href="http://telegram.com">telegram</a>.
              Там бесплатные стрижки и подарки!
            </p>
          </div>
        </div>
        <div class="hashtag_text">
          <p>
            Мы устали от сумасшедших цен на МУЖСКИЕ стрижки и решили сделать эту
            услугу более доступной, вместе с тем, не теряя качество сервиса и
            уникальной атмосферы! Будь уверен, у нас ты можешь качественно
            постричься или подровнять бороду, а после оставить свои нервы за PS4
            или выплеснуть долю тестостерона на боксерской груше. Приходи к нам
            и почувствуй Черную Кость!
          </p>
          <p class="blackhash">#BLACKBONE</p>
        </div>
      </div>
    </section>
    <section class="gallery">
      <div class="gallery_text"><h2>Работы Наших Мастеров</h2></div>
      <div class="groups">
        <div class="group" data-index="0" data-status="active">
          <div class="img1 card"></div>
          <div class="img2 card"></div>
        </div>
        <div class="group" data-index="1" data-status="unknown">
          <div class="img3 card"></div>
          <div class="img4 card"></div>
        </div>
        <div class="group" data-index="2" data-status="unknown">
          <div class="img5 card"></div>
          <div class="img6 card"></div>
        </div>
      </div>
      <div id="lightbox" class="hidden">
        <div id="lightbox_image" class="lightbox_i"></div>
      </div>
      <div class="swipers">
        <button class="button_right">
          <i class="fa-solid fa-right-long"></i>
        </button>
        <button class="button_left">
          <i class="fa-solid fa-left-long"></i>
        </button>
      </div>
      <div class="gallery_points">
        <div class="point" data-status="active" data-index="0"></div>
        <div class="point" data-status="unknown" data-index="1"></div>
        <div class="point" data-status="unknown" data-index="2"></div>
      </div>
    </section>
    <section class="address_container" id="address">
      <div class="address">
        <div class="dropdown_wrapper">
          <div class="dropdown_text"><p>Москва</p></div>
          <div class="btn_wrapper">
            <i class="fa-solid fa-angle-down fa-2x"></i>
          </div>
        </div>
        <ul class="dropdown_content">
          <div class="dropdown_container">
            <li class="dropdown_address">
              <p>Москва, ул. Михайлова, 30А, корп.4</p>
              <p>м.Окская</p>
              <p>Каждый день, 10:00 - 22:00</p>
              <p>+7 936 155-11-55</p>
              <div class="social">
                <a href="https://web.telegram.org/" target="_blank">
                  <i class="fa-brands fa-telegram fa-2x"></i>
                </a>
                <a href="https://www.instagram.com/" target="_blank">
                  <i class="fa-brands fa-instagram fa-2x"></i>
                </a>
                <a href="https://vk.com/" target="_blank">
                  <i class="fa-brands fa-vk fa-2x"></i>
                </a>
              </div>
            </li>
            <button class="btn">Записаться</button>
          </div>
          <div class="dropdown_container">
            <li class="dropdown_address">
              <p>Квартал №100, 1к1</p>
              <p>Каждый день, 10:00 - 22:00</p>
              <p>+7 993 280-08-88</p>
              <div class="social">
                <a href="https://web.telegram.org/" target="_blank">
                  <i class="fa-brands fa-telegram fa-2x"></i>
                </a>
                <a href="https://www.instagram.com/" target="_blank">
                  <i class="fa-brands fa-instagram fa-2x"></i>
                </a>
                <a href="https://vk.com/" target="_blank">
                  <i class="fa-brands fa-vk fa-2x"></i>
                </a>
              </div>
            </li>
            <button class="btn">Записаться</button>
          </div>
        </ul>
        <div class="long"></div>
      </div>
      <div class="address">
        <div class="dropdown_wrapper">
          <div class="dropdown_text"><p>Балашиха</p></div>
          <div class="btn_wrapper">
            <i class="fa-solid fa-angle-down fa-2x"></i>
          </div>
        </div>
        <ul class="dropdown_content">
          <div class="dropdown_container">
            <li class="dropdown_address">
              <p>Балашиха, ул. Реутовская, 30А, корп.4</p>
              <p>Каждый день, 10:00 - 22:00</p>
              <p>+7 936 155-11-55</p>
              <div class="social">
                <a href="https://web.telegram.org/" target="_blank">
                  <i class="fa-brands fa-telegram fa-2x"></i>
                </a>
                <a href="https://www.instagram.com/" target="_blank">
                  <i class="fa-brands fa-instagram fa-2x"></i>
                </a>
                <a href="https://vk.com/" target="_blank">
                  <i class="fa-brands fa-vk fa-2x"></i>
                </a>
              </div>
            </li>
            <button class="btn">Записаться</button>
          </div>
          <div class="dropdown_container">
            <li class="dropdown_address">
              <p>Балашиха, мкрн. Новое Павлино, Косинское шоссе, 10</p>
              <p>Каждый день, 10:00 - 22:00</p>
              <p>+7 936 155-11-55</p>
              <div class="social">
                <a href="https://web.telegram.org/" target="_blank">
                  <i class="fa-brands fa-telegram fa-2x"></i>
                </a>
                <a href="https://www.instagram.com/" target="_blank">
                  <i class="fa-brands fa-instagram fa-2x"></i>
                </a>
                <a href="https://vk.com/" target="_blank">
                  <i class="fa-brands fa-vk fa-2x"></i>
                </a>
              </div>
            </li>
            <button class="btn">Записаться</button>
          </div>
        </ul>
        <div class="long"></div>
      </div>
      <div class="address">
        <div class="dropdown_wrapper">
          <div class="dropdown_text"><p>Бутово Парк</p></div>
          <div class="btn_wrapper">
            <i class="fa-solid fa-angle-down fa-2x"></i>
          </div>
        </div>
        <ul class="dropdown_content">
          <div class="dropdown_container">
            <li class="dropdown_address">
              <p>Рабочий поселок Дрожжино, ул.Южная, 11к3</p>
              <p>Каждый день, 10:00 - 22:00</p>
              <p>+7 936 155-11-55</p>
              <div class="social">
                <a href="https://web.telegram.org/" target="_blank">
                  <i class="fa-brands fa-telegram fa-2x"></i>
                </a>
                <a href="https://www.instagram.com/" target="_blank">
                  <i class="fa-brands fa-instagram fa-2x"></i>
                </a>
                <a href="https://vk.com/" target="_blank">
                  <i class="fa-brands fa-vk fa-2x"></i>
                </a>
              </div>
            </li>
            <button class="btn">Записаться</button>
          </div>
        </ul>
        <div class="long"></div>
      </div>
    </section>
    <section class="shop">
      <div class="shop_container">
        <h2>Магазин Товаров Для Мужчин</h2>
        <p>
          Представляем вашему вниманию широкий ассортимент косметики по уходу за
          волосами, усами, бородой и телом, которая поможет создать вам
          неповторимый образ и безукоризненный стиль
        </p>
        <button class="btn">Перейти в магазин</button>
      </div>
    </section>
    <footer>
      <div class="footer_button">
        <a class="btn" href="#adress">Адреса</a>
        <a href="#pricelist_btn" class="btn"> Онлайн-Запись</a>
        <a href="#franchise" class="btn">Франшиза</a>
      </div>
      <div class="footer_social">
        <div class="social_icons">
          <a href="https://vk.com/" target="_blank">
            <i class="fa-brands fa-vk fa-2x"></i>
          </a>
          <a href="https://web.telegram.org/" target="_blank">
            <i class="fa-brands fa-telegram fa-2x"></i>
          </a>
        </div>
        <div class="social_text">
          <p>ИП Михаилян А.А.</p>
          <p>ОРГН 31677460000000</p>
          <p>ИНН 77208563000000</p>
        </div>
      </div>
    </footer>
  </body>
</html>
