{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Барбершоп Москва - мужская парикмахерская</title>
    <link rel="stylesheet" href="{% static 'mainapp/css/gallery.css' %}"/>
    <link rel="stylesheet" href="{% static 'mainapp/css/main.css' %}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/a6eb112351.js"
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'mainapp/js/app.js' %}" defer></script>
  </head>
  <body>
    <header class="header">
      <div class="header_container">
        <div class="header_img">
          <!-- <div class="header_skull"></div> -->
          <img src="{% static 'mainapp/images/black_bone_logo_skull.png' %}" alt="" >
          <img src="{% static 'mainapp/images/black_bone_sign.svg' %}" alt="" >
        </div>
        <div class="header_appointment">
          <a href="http://google.com">
            <img src="{% static 'mainapp/images/bone_call.svg' %}" alt="" />
          </a>
        </div>
      </div>
    </header>
    <section id="main_content" class="main_content">
      <div class="pricelist_container">
        <table class="pricelist_table">
          <tbody>
          {% for s in services %}
              {% if s.note %}
                  <tr>
              <td>{{ s.title }} <small>{{ s.note }}</small></td>
              <td>{{ s.price }}</td>
            </tr>
              {% else %}
            <tr>
              <td>{{ s.title }}</td>
              <td>{{ s.price }}</td>
            </tr>
              {% endif %}
          {% endfor %}
          </tbody>
        </table>
        <form align='center' action="" method="post" class="formappointment">
        {% csrf_token %}
          <p> {{ form.name}}</p>
          <p> {{ form.number}}</p>
          <p> {{ form.branch}}</p>
          <div><input type="submit" value='Записаться Онлайн' class="btn pricelist_btn"/></div>
        </form>
        <div align='center'><p>Временно оплата только наличными</p></div>
      </div>
    </section>
    <section class="telegram_section">
      <div class="telegram_container">
        <div class="telegram">
          <img src="{% static 'mainapp/images/beard.png' %}" alt="" />
          <div class="telegram_text">
            <p>
              Подписывайтесь на наш <a href="http://telegram.com">Телеграм</a> канал,
              там бесплатные стрижки и подарки
            </p>
          </div>
        </div>
        <div class="heshtag_text">
          <p>
            Мы устали от сумасшедших цен на МУЖСКИЕ стрижки и решили сделать эту
            услугу более доступной, вместе с тем, не теряя качество сервиса и
            уникальной атмосферы! Будь уверен, у нас ты можешь качественно
            постричься или подровнять бороду, а после оставить свои нервы за PS4
            или выплеснуть долю тестостерона на боксерской груше. Приходи к нам
            и почувствуй Черную Кость!
          </p>
        </div>
        <p class="blackhash">#BLACKBONE</p>
      </div>
    </section>
    <section class="gallery">
      <div class="gallery_text"><h2>Работы Наших Мастеров</h2></div>
      <div class="groups">
        <div class="group" data-index="0" data-status="active">
          <div class="img1 card"></div>
          <div class="img2 card"></div>
        </div>
        <div class="group" data-index="1" data-status="unknown">
          <div class="img3 card"></div>
          <div class="img4 card"></div>
        </div>
        <div class="group" data-index="2" data-status="unknown">
          <div class="img5 card"></div>
          <div class="img6 card"></div>
        </div>
      </div>
      <div class="swipers">
        <button class="button_right">
          <i class="fa-solid fa-right-long"></i>
        </button>
        <button class="button_left">
          <i class="fa-solid fa-left-long"></i>
        </button>
      </div>
      <div class="gallery_points">
        <div class="point" data-status="active" data-index="0"></div>
        <div class="point" data-status="unknown" data-index="1"></div>
        <div class="point" data-status="unknown" data-index="2"></div>
      </div>
    </section>


      <section class="address_container">
      <div class="address">
        <div class="dropdown_wrapper">
          <div class="dropdown_text"><p>Москва</p></div>
          <!-- <div class="line_text"> -->
          <!-- <div class="dropdown_line"></div> -->
          <!-- </div> -->
          <div class="btn_wrapper">
            <i class="fa-solid fa-angle-down fa-2x"></i>
          </div>
        </div>
          <ul class="dropdown_content">
          {% for ad in address %}
          <div class="dropdown_container">
            <li class="dropdown_address">
              <p>{{ ad.city }}, {{ ad.address }}</p>
              {% if ad.metro_station %}
              <p>{{ ad.metro_station }}</p>
              {% endif %}
              <p>{{ ad.schedule }}</p>
              <p>{{ ad.number }}</p>
              <div class="social">
                {% if ad.telegram %}
                <a href= {{ ad.telegram }}>
                  <i class="fa-brands fa-telegram fa-2x"></i>
                </a>
                {% endif %}
                {% if ad.inst %}
                <a href= {{ ad.inst }}>
                  <i class="fa-brands fa-instagram fa-2x"></i>
                </a>
                {% endif %}
                {% if ad.vk %}
                <a href= {{ ad.vk }}>
                  <i class="fa-brands fa-vk fa-2x"></i>
                </a>
                {% endif %}
              </div>
              </li>
              <button class="btn">Записаться</button>
              </div>
          {% endfor %}
        </ul>
        <div class="long"></div>
      </div>
    </section>
  </body>
</html>
