/* Address */
.address_container {
  background-color: var(--background-color);
  /* height: auto; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* width: 70%; */
}

.address {
  position: relative;
  width: 100%;
}
.dropdown_wrapper {
  max-width: 1200px;
  height: 60px;
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* justify-content: space-between; */
  padding: 5px;
  border-bottom: 1px solid #333;
  cursor: pointer;
}
.btn_wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* margin-right: 5%; */
  position: relative;
}
.btn_wrapper i {
  position: absolute;
}

.dropdown_text {
  max-width: 1200px;
  height: 90%;

  border-left: 6px var(--main-color) solid;
  display: flex;
  align-items: center;
}
.dropdown_text p {
  font-size: 1.6em;
  text-align: left;
  margin-left: 10px;
  text-transform: uppercase;
  font-weight: 500;
}
.dropdown_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #cccccc69;
  height: 100%;
}
.dropdown_container button {
  margin-right: 30px;
  font-weight: 500;
  width: 200px;
  height: 50px;
  font-size: 16px;
  /* height: 100%; */
}

.dropdown_content {
  display: none;
  line-height: 1.5;
  font-size: 16px;
  /* position: absolute;	 */
  background-color: #333;
  max-width: 1200px;
  width: 90%;
  margin: auto;
  list-style: none;
}
.dropdown_container:last-child {
  border: none;
}
.dropdown_content li {
  padding: 10px;
}
.dropdown_content li:last-child {
  border: none;
}
.long {
  width: 100%;
  height: 10px;
}

.social {
  margin-top: 5px;
}
.social a {
  margin-left: 15px;
}
.social a:first-child {
  margin: 0;
}
.social a i {
  transform: scale(0.95);
}

.dropdown_address {
  font-size: 18px;
  margin-left: 20px;
}

.dropdown_address p {
  opacity: 0.75;
}
.dropdown_address p:first-child {
  opacity: 1;
  font-size: 19px;
}
.fa-2x {
  transition: all 300ms ease;
}

.dropdown_wrapper:hover .fa-2x {
  transform: scale(1.3);
}
.address:last-child .dropdown_wrapper {
  border-bottom: none;
}
.address_container .address:first-child {
  margin-top: 80px;
}
