/* Галерея */

.gallery {
  height: 90vh;
  width: 100%;
  background-color: var(--background-color);
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  place-items: center;
  position: relative;
}
.groups,
.group {
  width: 70vmin;
  aspect-ratio: 3/2;
  position: absolute;
}

.card {
  width: 70vmin;
  aspect-ratio: 3/2;

  background-color: #333;
  position: absolute;
  border: #222 2px solid;
  /* border-radius: 10px; */
  /* transform: translateY(-20%); */
}

.group > .card:nth-child(1) {
  transform: translateX(-55%);
  background-color: rgba(219, 211, 211, 0.6);
}
.group > .card:nth-child(2) {
  transform: translateX(55%);
  background-color: rgba(219, 211, 211, 0.6);
}
.img1 {
  background-image: url(../images/gallery/img1.jpg);
  background-size: cover;
  cursor: pointer;
}
.img2 {
  background-image: url(../images/gallery/img2.jpg);
  background-size: cover;
  cursor: pointer;
}
.img3 {
  background-image: url(../images/gallery/img3.jpg);
  background-size: cover;
  cursor: pointer;
}
.img4 {
  background-image: url(../images/gallery/img4.jpg);
  background-size: cover;
  cursor: pointer;
}
.img5 {
  background-image: url(../images/gallery/img5.jpg);
  background-size: cover;
  cursor: pointer;
}
.img6 {
  background-image: url(../images/gallery/img6.jpg);
  background-size: cover;
  cursor: pointer;
}

.group[data-status="unknown"] {
  transform: scale(0);
}
.group[data-status="after"] {
  transform: translateX(50%) scale(0);
}
.group[data-status="before"] {
  transform: translateX(-50%) scale(0);
}
.group[data-status="active"] {
  transition-delay: 300ms;
}

.swipers {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0vmin 4vmin;
  position: relative;
}

.swipers .button_left {
  font-size: 2.5vmin;
  border: 0.4vmin solid rgb(200, 200, 200);
  border-radius: 100%;
  color: white;
  background-color: transparent;
  height: 7vmin;
  width: 7vmin;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-1190%, -40%);
}
.swipers .button_right {
  font-size: 2.5vmin;
  border: 0.4vmin solid rgb(200, 200, 200);
  border-radius: 100%;
  color: white;
  background-color: transparent;
  height: 7vmin;
  width: 7vmin;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(1090%, -40%);
}

.button_right:hover,
.button_left:hover {
  color: var(--main-color);
  border-color: var(--main-color);
}

.gallery_text {
  font-size: 18px;
  text-justify: auto;
  /* border-bottom: rgba(196, 12, 12, 0.5) 2px solid; */
  color: #f2f3f4;
  opacity: 0.9;
  margin-bottom: 2%;
  /* height: 10%; */
  /* font-weight: 600; */
}
.gallery_points {
  display: flex;
  position: relative;
  width: 150px;
  justify-content: space-between;
  top: 50px;
}
.point {
  width: 12px;
  height: 12px;
  /* background-color: #fff; */
  border-radius: 100%;
  cursor: pointer;
}

.point[data-status="active"] {
  background-color: #db2c2b;
}
.point[data-status="unknown"] {
  background-color: #f2f3f4;
}
.point[data-status="after"] {
  background-color: #f2f2f2;
}
.point[data-status="before"] {
  background-color: #f2f2f2;
}
.point[data-status="active-from-before"] {
  background-color: #f2f2f2;
}
.gallery h2 {
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 500;
}
#lightbox {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}
.lightbox_i {
  position: relative;
  aspect-ratio: 3/2;
  width: 80%;
  /* height: 90%; */
  /* margin: auto; */
  max-width: 1000px;
  max-height: 800px;
  top: 10%;
}
.lightbox_image {
  /* position: relative; */
  aspect-ratio: 3/2;
  width: 90%;

  /* height: 90%; */
  background-color: #333;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: default;
  border: #222 2px solid;
}
.hidden {
  display: none !important;
}

@media (max-width: 1024px) {
  .gallery {
    padding-top: 50px;
  }
  .groups {
    /* margin-top: 10px; */
  }
  .gallery_text {
    margin-bottom: 100px;
  }
  .gallery_points {
    margin-top: 100px;
  }
  .swipers .button_left {
    transform: translate(-820%, -70%);
  }
  .swipers .button_right {
    transform: translate(720%, -70%);
  }
}
