@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto:wght@400;500;700;900&display=swap");

:root {
  --main-color: #db2c2b;
  --background-color: #22201e;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;

  color: #f2f3f4;
}

a {
  text-decoration: none;
}
header {
  box-shadow: #333;
  position: sticky;
  top: 0;
  z-index: 100;
  /* position: relative; */
}
small {
  font-size: 11px;
}
.header_container {
  position: sticky;
  background-color: var(--main-color);
  display: flex;
  justify-content: space-between;
  height: 70px;
}
.header_appointment {
  display: flex;
  height: 100%;
  width: 60px;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.header_appointment .img_scale {
  transform: scale(1.3);
}
.header_appointment a {
  transition: transform 500ms ease;
}
.header_appointment a:hover {
  transform: translateY(-10%);
}

.header_img {
  display: flex;
}

.header_img img:nth-child(2) {
  scale: 0.55;
  margin-left: -30px;
}
.main_content {
  /* height: 140vh; */
  width: 100%;
  background: url(../images/bone_hero_img.jpg) no-repeat;
  background-position: top center;
  background-size: contain;
  background-color: #22201e;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricelist_container {
  max-width: 800px;
  display: grid;
  align-items: center;
  /* justify-content: center; */
  background-color: #333;
  margin-top: 10vh;
  margin-bottom: 10vh;
  width: 80%;
  height: 80vh;
  border-radius: 15px;
}

.btn {
  background-color: #22201e;
  /* background-color: transparent; */
  color: #f2f3f4;
  width: 290px;
  height: 65px;
  letter-spacing: 1px;
  border: #db2c2b solid 1px;
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  margin: auto;
  transition: transform 500ms ease;
  cursor: pointer;
}

.btn:hover {
  background-color: #db2c2b;
  border: #22201e 1px solid;
  transform: translateY(-8%);
}
.pricelist_table {
  margin: 10px 60px 0px 60px;
  height: 43vh;
  /* width: 85%; */
  text-transform: uppercase;
  font-size: 18px;
  position: relative;
  top: 10px;
  opacity: 0.9;
  /* letter-spacing: 1px; */
  line-height: 1.2;
  font-weight: 500;
}
/* .pricelist_table tr:hover {
  border-bottom: #f2f3f4 1px solid;
} */

.pricelist_table tr td {
  text-align: left;
  /* border-bottom: rgb(192, 184, 184, 0.1) 1px solid; */
}

.pricelist_table tr td:nth-child(2) {
  text-align: right;
  font-weight: 600;
  font-size: 18px;
}

.pricelist_container p {
  margin: 0px auto;
  position: relative;
  top: -22px;
  font-size: 14px;
  color: rgba(219, 211, 211, 0.8);
}

.telegram_section {
  background-color: var(--background-color);
}
.telegram_container {
  max-width: 1100px;
  margin: auto;
  display: grid;
  width: 80%;
  height: 400px;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-items: center;
  background-color: #333;
  border-radius: 10px;
}
.telegram {
  background-color: #333;
  display: flex;
  flex-direction: column;
  z-index: 0;
  align-items: center;
  /* justify-content: center; */
  border-radius: 10px;
}

.telegram img {
  height: 70px;
  width: 70px;
  margin-top: 20px;
}

.telegram_text {
  font-size: 20px;
  margin-top: 20px;
  padding: 0 20px;
  text-align: center;
}

.telegram_text a {
  text-decoration: none;
  color: #419fd9;
}

.hashtag_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1.4;
  width: 100%;
}

.hashtag_text p {
  /* margin: auto; */
  text-align: justify;
  padding: 0px 60px;
  opacity: 0.9;
  line-height: 1.3;
  font-size: 17px;
}

.blackhash {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  margin: auto;
}

/* Shop */
.shop {
  width: 100%;
  height: 450px;
  background: url(../images/bone_shop.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
}
.shop_container {
  margin: auto;
  width: 80%;
  max-width: 1200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}
.shop_container button {
  margin: 0;
}
.shop_container h2 {
  text-transform: uppercase;
  font-size: 28px;
  /* position: absolute; */
  margin-bottom: 50px;
}
.shop_container .btn {
  margin: 0;
  background-color: rgba(0, 0, 0, 0.4);
  width: 300px;
  height: 70px;
  margin-top: 60px;
}
.shop_container p {
  line-height: 1.3;
  font-size: 17px;
  text-align: left;
  width: 65%;
}
footer {
  width: 100%;
  height: 270px;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.footer_button {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 90%;
  max-width: 1200px;
  margin-left: 20px;
  margin-right: 20px;
}
.footer_button .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  font-weight: 500;
}
.footer_social {
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 1200px;
}
.social_icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
}

.social_icons a i {
  transform: scale(1.2);
}
.social_text {
  font-size: 15px;
  opacity: 0.8;
  line-height: 1.3em;
}

/* Кнопка */
.online_btn {
  width: 100px;
  height: 100px;
  position: fixed;
  top: 80%;
  left: 90%;
  z-index: 100;
  border-radius: 100%;
  background-color: white;
  display: none;
  /* Медиа */
}
@media (max-width: 1024px) {
  .footer_button {
    display: flex;
    flex-direction: column;
    /* margin-top: 20px; */
  }
  .footer_button .btn {
    width: 450px;
    margin-top: 20px;
  }

  footer {
    height: 350px;
  }

  .social_text p {
    margin-left: 10px;
  }
  .pricelist_table {
    margin: 10px 30px;
  }
  .pricelist_btn {
    margin-top: 40px;
  }
  .pricelist_container p {
    margin-top: 25px;
  }
}

/*telegram_form*/
.formline{
width: 250px;
padding: 3px 3px;
margin: 3px 0;
background-color: #22201e;
color: #828282;
border: 1px solid #828282;
border-radius: 4px
}

.formappointment {
margin: 40px;
}